<div class="container justify-content-md-center">
  <h1>My Friends</h1>
</div>

<div class='search-area'>
  <%= form_tag search_friends_path, remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-2 text-right mt-2"><h4>Search Friends</h4></div>
      <div class="col-sm-8 no-right-padding">
        <%= text_field_tag :friend, params[:friend], placeholder: "Name or email", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-2 no-left-padding">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <%= fa_icon 'search 2x' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div id="friend_result">
</div>

<% if !@user_friends.empty? %>
  <%= render 'friends/list' %>
<% end %>
